
.full{
    background-color: rgb(132, 117, 117);
    height: 700px;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items:start;
    flex-wrap: wrap;
    gap: 30px;
}

.one{
    background-color: red;
    width: 200px;
    height: 200px;
}

.two{
    background-color: rgb(57, 27, 227);
    width: 200px;
    height: 200px;
}

.three{
    background-color: rgb(90, 217, 16);
    width: 200px;
    height: 200px;
}
